name: CI/CD Node 18 + Docker + Render

on:
  push:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm


      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build


      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}


      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: eltosergi/catedra3:latest
          build-args: |
            backend_url=${{ secrets.BACKEND_URL }}


      - name: Deploy to Render
        run: |
          curl -X POST "${{ secrets.RENDER_TOKEN }}"
